<div class="card">
  <div class="card-body">
    <h5 class="card-title">Order Summary</h5>
    <p class="card-text">You have {{ cart.totalItemCount }} items in your shopping cart.</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of cart.items ">
        {{ item.quantity }} x {{ item.title }}
        <div class="pull-right"> {{ item.totalPrice | currency:'USD' }}</div>
      </li>
      <li class="list-group-item">
        Total
        <div class="pull-right"> {{ cart.getTotalPrice | currency:'USD'}}</div>
      </li>
    </ul>
  </div>
</div>